# Python
__pycache__/
*.pyc
venv/
.venv/
build/
dist/
*.egg-info/

# Environment
.env

# VectorDB (ChromaDB)
chroma_db/
vectordb_config.json


# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db